pipeline/Ingestion_Product_To_JSON.json
{
	"name": "Ingestion_Product_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "Records greater than 10",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as RecordCount from saleslt.Product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LS_SQL_5",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Product Record Greater Than 10",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Records greater than 10",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Records greater than 10').output.firstRow.RecordCount,10)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Product Data Greater Than 10",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Product Record Greater Than 10",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_LS_SQL_5",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DL_Storage_5",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}