pipeline/Ingestion_Customer_To_CSV.json
{
	"name": "Ingestion_Customer_To_CSV",
	"properties": {
		"activities": [
			{
				"name": "Greater Than 100",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as RecourdCount from saleslt.Address",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LS_SQL_5_1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check Address Table Record",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Greater Than 100",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Greater Than 100').output.firstRow.RecourdCount,100)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Address Data Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check Address Table Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_LS_SQL_5_1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DL_Storage_5_1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}